<!-- <div>
	<ul class="user-details">
		<li *ngFor="let user of users" >
			<p><img src="{{user.userImg}}" alt="User Pic"></p>
			<div class="use-details">
				<h2>{{user.firstName +" "+ user.lastName}}</h2>
				<p>User Id: {{user.id}}</p>
				<p>City: {{user.city}}</p>
			</div>
		</li>
	</ul>
</div>
<div class="form-wrapper"> 
	<h2>Login</h2>
	<form action="">
		<input type="email" placeholder="Enter Email">
		<input type="password" placeholder="Enter Password">
		<input type="submit" value="Login" class="common-btn">
	</form>
</div>
 -->